@media (max-width: 768px) {
    /* small screens */
    ul#collaborations , #help, #the-company  {display: none;}
    #navbar-big-screen{display: none;}
    #info_sdarot_big_screen{display: none;}
   #subject-headline.fa-check:before{font-size: 20px; border: none;}
   /* #btn_big_screen{display: none;} */

  }
  
  @media (min-width: 769px) {
      /* big screens */
    .plus_button{display: none;}
    .navbar-small-screen{display: none;}
    button#plus_button1 ,#plus_button2 ,#plus_button3{display: none;}
    #subject-headline.fa-check:before{font-size: 40px;}
    #info_sdarot_small_screen{display: none;}
    /* #btn_small_screen{display: none;} */
    
  }

 @media (max-width:450px) {
    #btn_big_screen{display: none;}
}

@media (min-width: 451px) {
    #btn_small_screen{display: none;}  
} 


#bar{
    height: 13px; width: 200px; background-color: rgb(151, 150, 150);
}

li a { display: block; margin:0 0 10px 0; color: #C6C4C4;     }
li a:visited { color: #C6C4C4; }

button#plus_button1 ,#plus_button2 ,#plus_button3{
    background-color: transparent; 
    color:  #C6C4C4;
    border: none;  margin: 0;
    float: left;
}
/* #subject-headline.fa-check:before{
    font-size: 10px;
} */

nav .navbar-nav li a{
    color: black !important ;font-size:15px; padding: 0; margin: 0 20px; 
}
nav .navbar-nav {    
    display: flex; flex-direction: row;
}
.fa-user-circle-o{ margin-right: 15px; padding: 0;
    /* display: flex; flex-direction: row; */
}
.fa-question-circle{margin-right: 15px; padding: 0;}

#second-link{margin-right: 15px; padding: 0;}